* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #fff;
  position: relative;
}

header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

section h3 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.logo {
  height: 50px;
}

main {
  padding: 0;
}

section {
  background-color: #d3d3d3;
  padding: 5px;
  height: 85%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid black;

}

th {
  background-color: #eee;
  
}


.btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reload-icon {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.reload-icon:hover {
  transform: rotate(90deg);
}

