*{
  margin: 0;
}

html,body{
  text-align: center;
 
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0;
  background-color: #D9D9D9;
}

header{
justify-content: space-between;
width: 100%;
height: 95px;
background-color: white;
text-align: center;
display: flex;
align-items: center;
position: relative;
top: 0;
}
.logo{
 transition:transform 0.5s ease-out;

}
.logo:hover{
   transform: translateY(-5px);
    transition: transform 0.5s ease;
}

#sesion{
  border-color: #FF8800;
  border-radius: 20px;
justify-content: center;
cursor: pointer;
width: 246px;
height: 67px;
font-size: x-large;
background-color:#FF8800;
color: #ffffff;
display: flex;
align-items: center;
margin-right: 20px;
}

#sesion:hover{
  background-color: rgb(172, 187, 189);
  border-color: rgb(172, 187, 189);
  color: black;
}

#sesion:active{
background-color: #004085;
color: white;
}

h1{
  margin-left:100px;
  font-size:x-large;
  font-weight: lighter;
  letter-spacing: 0.25em;
  line-height: 1em; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2{

  margin-top: 25px;
  font-size:xx-large;
  font-weight:400;
  line-height: 1.5em; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.logo{
  width: 150px;
  height: 85px;
  float: left;
  margin-left: 10px;
}


section{
  display: flex;
top: 25%;
margin: 0% 0px 0px 5%;
justify-content: space-around;
padding: 0px px 0px 0px;
align-items: center;
border-radius:50px ;
width: 90%;
height: 300px;
background-color: #96E6B5;
}

.imagenzoom{
width: 360px;
height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.imagenzoom:hover{
transform: scale(1.2);
}

footer{
position: absolute;

width: 100%;
height: 95px;
align-items:center;
justify-content:space-between;
bottom: 0;
background-color:white;
display: flex;

}

#copy{
  margin-left: 30px;
}

nav{
  margin-right:50px;
}
.redes{
  
  padding: 10px;
  width: 70px;
  height: 70px;
}