body {
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background: #e0e0e0;
}

header {
  background: white;
  padding: 20px; 
  text-align: center;
  position: relative;
  border-bottom: 3px solid #ccc; 
}

.boton-container {
  position: absolute;
  top: 5px;      
  left: 10px;  
  margin: 0;
}

.btn-regresar {
  display: inline-block;
  text-decoration: none;
  background: #000000;
  color: rgb(59, 8, 8);
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s;
}

.btn-regresar:hover {
  background: #000000;
}
header h1 {
  margin: 0;
  font-size: 24px; 
  font-weight: bold;
  letter-spacing: 3px;
}

header img {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 50px; 
}
.logo {
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: translateY(-5px);
}


.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 30px;
  margin: 0;          
  width: 100%;        
  max-width: none;    
}


.item {
  display: flex;
  align-items: center;
  color: white;
  padding: 23Px 23px; 
  width: 80%;
  transition: all 0.3s ease;
   font-size:x-large;
  font-weight: lighter;
  letter-spacing: 0.25em;
  line-height: 1em; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



.item img {
  width: 50px; 
  height: 40px;
  margin-left: 20px;
  margin-right: 50px;
  filter: invert(1);

}


.izquierda {
  justify-self: start;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.derecha {
  justify-self: end;
  clip-path: polygon(100% 0, 10% 0, 0 50%, 10% 100%, 100% 100%);
  text-align: right;
  flex-direction: row-reverse;
}

.derecha img {
  margin-right: 30px;
  margin-left: 0;
}


.aves { background: #B78D39; grid-column: 1; grid-row: 1; }
.ganado { background: #D9655A; grid-column: 2; grid-row: 2; }
.cerdos { background: #6BC048; grid-column: 1; grid-row: 3; }
.equinos { background: #4AB1B7; grid-column: 2; grid-row: 4; }
.tilapia { background: #E22B25; grid-column: 1; grid-row: 5; }


@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .item {
    font-size: 14px;
    padding: 15px;
    width: 90%;
  }
  .izquierda, .derecha {
    justify-self: center;
    flex-direction: row;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  }
  .derecha img {
    margin-left: 0;
    margin-right: 12px;
  }
}


.item:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  transform: scale(1.3);
  cursor: pointer;
}

.aves:hover { box-shadow: 0 6px 15px rgba(184,134,11,0.6); }
.ganado:hover { box-shadow: 0 6px 15px rgba(224,102,102,0.6); }
.cerdos:hover { box-shadow: 0 6px 15px rgba(50,205,50,0.6); }
.equinos:hover { box-shadow: 0 6px 15px rgba(64,224,208,0.6); }
.tilapia:hover { box-shadow: 0 6px 15px rgba(255,0,0,0.6); }

a {
  text-decoration: none; 
  color: inherit;        
}
 .contenedor a {
  display: block;
}